.detalhes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: white;
}
.detalhes th, .detalhes td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
.detalhes th {
    background-color: #f0f0f0;
}
.total-row td {
    font-weight: bold;
    background-color: #ccf; /* Cor suave para destacar o total */
}

/* Estilo para o link/botão de voltar */
.button-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}